<div class="reviewing">

  <div class="row product" *ngFor="let item of items">
    <div class="col-xs-10 col-sm-11">
      <div class="row details">
        <div class="col-sm-6 clearfix img">
          <div class="pull-left">
            <img [src]="item?.img || ''" class="img-responsive">
          </div>
          <div class="pull-left">
            <h4>{{item.descr1}}</h4>
            <h5>{{item.descr2}}</h5>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-4 text-right price">
              <h4 class="price">
                {{item?.price | currency:'USD':true}}
              </h4>
            </div>
            <div class="col-xs-4 text-center qty">
              <h4 class="qty-spin">
                <span class="fa fa-caret-left fa-lg dec" (click)="dec(item)"></span>
                <span>{{item.qty}}</span>
                <span class="fa fa-caret-right fa-lg inc" (click)="inc(item)"></span>
              </h4>
            </div>
            <div class="col-xs-4 text-right total">
              <h4 class="price">
                {{item?.qty * item?.price | currency:'USD':true}}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="col-xs-2 col-sm-1 remove">
      <h4 (click)="remove(item)">
        <span class="fa fa-remove fa-lg" title="remove"></span>
      </h4>
    </div>
  </div>

  <div class="row total" *ngIf="totals && items.length">
    <div class="col-xs-10 col-sm-11">
      <div class="row">
        <div class="col-sm-6">
          <h4>Total</h4>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4 text-center qty">
              <h4> {{ qty }}</h4>
            </div>
            <div class="col-xs-4 text-right total">
              <h4 class="price">
                {{ total | currency:'USD':true }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="row" *ngIf="! items.length">
    <div class="col-sm-12">
      <h4>Your Cart Is Empty</h4>
    </div>
  </div>

</div>