<div class="container session">
  <h4>Session</h4>

  <h4>Authorization Request</h4>
  <div class="row" *ngFor="let seg of reqSegs">
    <div class="col-sm-3"><label>{{seg.name}}</label></div>
    <div class="col-sm-9">{{seg.value}}</div>
  </div>

  <h4>Authorization Response</h4>
  <div class="row">
    <div class="col-sm-3"><label>Token Type</label></div>
    <div class="col-sm-9">{{state?.respParams?.token_type}}</div>
  </div>
  <div class="row">
    <div class="col-sm-3"><label>Duration</label></div>
    <div class="col-sm-9">{{duration}}</div>
  </div>
  <div class="row">
    <div class="col-sm-3"><label>Scope</label></div>
    <div class="col-sm-9">{{state?.respParams?.scope}}</div>
  </div>
  <div class="row">
    <div class="col-sm-3"><label>State</label></div>
    <div class="col-sm-9">{{state?.respParams?.state}}</div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label>Access Token</label>
      <div class="pull-right">
        <a href="#" (click)="toggleAcc()" 
          [attr.title]="accDecoded ? 'Display token string' : 'Display token values'"> 
          <i class="fa" [class.fa-toggle-off]="!accDecoded" [class.fa-toggle-on]="accDecoded"></i>
        </a>        
      </div>
    </div>
    <div class="col-sm-9">
      <demo-jwt [jwt]="state.bearerToken" [decoded]="accDecoded"></demo-jwt>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <label>Id Token</label>
      <div class="pull-right">
        <a href="#" (click)="toggleId()" 
          [attr.title]="accDecoded ? 'Display token string' : 'Display token values'"> 
          <i class="fa" [class.fa-toggle-off]="!idDecoded" [class.fa-toggle-on]="idDecoded"></i>
        </a>        
      </div>
    </div>
    <div class="col-sm-9">
      <demo-jwt [jwt]="state.idToken" [decoded]="idDecoded"></demo-jwt>
    </div>
  </div>

  <div class="row" *ngFor="let seg of respSegs">
    <div class="col-sm-3"><label>{{seg.name}}</label></div>
    <div class="col-sm-9">{{seg.value}}</div>
  </div>
    
</div>

  