<div class="container-fluid shopping">

  <div class="row recommendations" *ngIf="(auth.authorized$ | async)">
    <div class="col-sm-12">
      <h1>Recommendations for You, {{(profile.current$ | async)?.userName}}</h1>
    </div>
  </div>

  

  <div *ngFor="let group of products.groups$ | async">

    <div class="row">
      <div class="col-sm-12">
        <h3>{{group.display}}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 product" *ngFor="let product of group.products">
        <figure>
          <img [src]="product.img" class="img-responsive" alt="">
        </figure>
        <a href="#" >
          <div class="hover-container">
            <h2>{{product.descr1}}</h2>
            <hr>
            <h5>
              {{product.descr2}}
              <span class="price">{{product.price}}</span>
            </h5>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>